{% extends "base.html" %}
{% load static %}

{% block content %}
    <div style="text-align: center; max-width: 600px; margin: auto; padding: 20px; border: 1px solid black;">
        <h2>საიტის დანიშნულება</h2>
    </div>

    <div style="text-align: center; max-width: 600px; margin: 20px auto; padding: 20px;">
        <a href="{% url 'login' %}">
            <button style="padding: 10px 20px; font-size: 16px;">Log In</button>
        </a>
        <a href="{% url 'register' %}">
            <button style="padding: 10px 20px; font-size: 16px;">Registration</button>
        </a>
    </div>

    <div style="max-width: 600px; height: 200px; margin: auto; padding: 20px; border: 1px solid black;">
        <h3 style="text-align: center;">საიტის დანიშნულება</h3>
        <p>აქ შეგიძლიათ დაწეროთ საიტის დანიშნულება.</p>
    </div>

    <div style="max-width: 600px; height: 150px; margin: 20px auto; padding: 20px; border: 1px solid black;">
        <h3>ლინკები:</h3>
        <ul>
            <li><a href="https://example.com" target="_blank">Example Link 1</a></li>
            <li><a href="https://example2.com" target="_blank">Example Link 2</a></li>
        </ul>
    </div>

    <div style="text-align: center; max-width: 600px; margin: auto; padding: 20px; border: 1px solid black;">
        <p>კონტაქტი: <strong>მეილი.</strong></p>
    </div>
{% endblock %}
